/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/css3/user-interface";

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 2013-12-05, 22:11:17
    Author     : Paweł Winiecki
*/
@font-face {
  font-family: 'lets_go_digitalregular';
  src: url('../fonts/lets_go_digital_regular/lets_go_digital_regular-webfont.eot');
  src: url('../fonts/lets_go_digital_regular/lets_go_digital_regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lets_go_digital_regular/lets_go_digital_regular-webfont.woff') format('woff'),
  url('../fonts/lets_go_digital_regular/lets_go_digital_regular-webfont.ttf') format('truetype'),
  url('../fonts/lets_go_digital_regular/lets_go_digital_regular-webfont.svg#lets_go_digitalregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@import 'https://fonts.googleapis.com/css?family=Cutive+Mono&subset=latin-ext';
.cutive,
.console {
  font-family: 'Cutive Mono', monospace;
  color: #00fb30;
}

#board canvas {
  margin: 0 auto;
  background-image: url('../img/background.png');
  margin: auto;
  //position: absolute;
  //top: 0; left: 0; bottom: 0; right: 0;
  background-size: 100%;
}
#board.korsarz canvas { background-image: url('../img/background_korsarz.png'); }
#board.zboczek canvas { background-image: url('../img/background_zboczek.png'); }
#board.cukinsyn canvas { background-image: url('../img/background_cukinsyn.png'); }

p.font-starter {
  color: #fff;
  font-family: lets_go_digitalregular;
}

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
  from {background-position: 0;}
  to {background-position:10000px 0;}
}
html,body {
  width: 100%;
  height: 100%;
}

main {
  position: relative;
  z-index: 10;
  text-align: center;
  padding: 50px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  ul {
    li {
      display: inline-block;
      vertical-align: bottom;
      margin: 0 20px;
    }
  }
}

.bg {
  position: fixed;
  left: 0;
  top:0;
  width:100%;
  height:100%;
  z-index: 0;
}
.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}


.stars {
  background:#000 url(../img/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(../img/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
  background:transparent url(../img/clouds.png) repeat top center;
  z-index:3;

  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}

ul.crew {
  text-align: center;
  li {
    cursor: pointer;
    @include transition(opacity 0.3s ease-out);
    opacity: 1;
    &.unhover {
      opacity: 0.5;
    }
    &.hover {
      opacity: 1;
    }
  }
}

#wrap {
  position: fixed;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;

  //@include transform(scale3d(0.8,0.8,1));
  @include transition(z-index 0.2s ease-in, opacity 0.2s ease-in, transform 0.2s ease-in);
  &.show {
    @include transition(z-index 0.9s ease-in, opacity 0.9s ease-in, transform 0.9s ease-in);
    z-index: 100;
    opacity: 1;
    //@include transform(scale3d(1,1,1));
  }
  text-align: center;
  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  #board {
    display: inline-block;
    max-width:1350px;
    max-height:800px;
    width: 90%;
    height: 90%;
    vertical-align: middle;
  }

  button {
    background: none;
    border:none;
    outline: none;
    -webkit-appearance: normal;
    position: absolute;
    right: 15px;
    top:5px;
  }

}
.vpos {
  height: 100%;
  position: relative;
  z-index: 1;
  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  .inner {
    display: inline-block;
    vertical-align: middle;
  }
  h2 {
    margin-top: 20px;
    font-size: 20px;
  }
}


.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}